extends layout

block content
  h1= title
  p Bienvenido a #{title} !!

  h3 Practica de Nodejs, Expressjs, JS, Promesas, Sequelize.

  form(method='post')
    label Test pico y placa  
    button(
      type='submit'
      formaction="/mainpp"
    ) OK
    br
    label Test comentarios 
    button(
      type='submit'
      formaction="/mainpp"
    ) OK

